{% extends 'base.html.twig' %}

{% block body %}
    <section id="image" class="container-fluid">
        <div class="row">
            <div class=" heading">
                <h1>SnowTrick</h1>
                <p>Le site communautaire pour apprendre les figures de snowboard.</p>
            </div>
            <img src="{{ asset ('images/image.jpg') }}" alt="presentation">
        </div>
    </section>
{% endblock %}
