{% extends 'base.html.twig' %}

{%  block stylesheets %}
<style>
    img{
        height: 300px;


    }
</style>
{% endblock  %}

{% block body %}
    <h1>Bienvenue sur Snowtricks !</h1>


<section id="image" class="container-fluid">
    <img src="images/image8.jpg" alt="presentation">
    <div class="heading1">
    </div>
</section>

{% endblock %}
