{% extends 'base.html.twig' %}

{% block body %}
    <h1>binvenue dans le site !</h1>

    <p>blablablablalbal</p>
    <p>blablablablalbal</p>
    <p>blablablablalbal</p>
    <p>blablablablalbal</p>
    <p>blablablablalbal</p>
    <p>blablablablalbal</p>
    <p>blablablablalbal</p>
    <p>blablablablalbal</p>
    <p>blablablablalbal</p>
    <p>blablablablalbal</p>


{% endblock %}
